{% comment %}
    @param {Boolean} center 
{% endcomment %}

{% if include.center %}
<ul class="list-inline text-center">
{% else %}
<ul class="list-inline">
{% endif %}

  {% if site.RSS %}
  <li>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}

             
                    <li>
                                <a target="_blank" href="https://www.jianshu.com/" title="jianshu">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa  fa-stack-1x fa-inverse">简</i>
                                    </span>
                                </a>
                     </li>

                    <li>
                        <a target="_blank" href="https://www.zhihu.com/people/" title="zhihu">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa  fa-stack-1x fa-inverse">知</i>
                            </span>
                        </a>
                    </li>
 <li>                                                           
    <a target="_blank" href="http://weibo.com/" title="weibo"> 
        <span class="fa-stack fa-lg">                          
            <i class="fa fa-circle fa-stack-2x"></i>           
            <i class="fa fa-weibo fa-stack-1x fa-inverse"></i> 
        </span>                                                
    </a>                                                       
</li>         

  {% if site.facebook_username %}
  <li>
    <a target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}

  <li>                                                                       
    <a target="_blank" href="https://www.github.com/" title="github">      
        <span class="fa-stack fa-lg">                                      
            <i class="fa fa-circle fa-stack-2x"></i>                       
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>            
        </span>                                                            
    </a>                                                                   
</li>                                                                      
<li>                                                                       
    <a target="_blank" href="https://www.gitee.com/" title="gitee">        
        <span class="fa-stack fa-lg">                                      
            <i class="fa fa-circle fa-stack-2x"></i>                       
            <i class="fa fa-git fa-stack-1x fa-inverse"></i>               
        </span>                                                            
    </a>                                                                   
</li>                                                                      
                                                                           
<li>                                                                       
    <a target="_blank" href="https://blog.csdn.net/" title="csdn">         
        <span class="fa-stack fa-lg">                                      
            <i class="fa fa-circle fa-stack-2x"></i>                       
            <i class="fa fa-csdn fa-stack-1x fa-inverse">C</i>             
        </span>                                                            
    </a>                                                                   
</li>                                                                      
<li>                                                                       
    <a target="_blank" href="mailto:zh85725@gmail.com" title="email">      
        <span class="fa-stack fa-lg">                                      
            <i class="fa fa-circle fa-stack-2x"></i>                       
            <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>        
        </span>                                                            
    </a>                                                                   
</li>                                                                      
                                                                           
                                                                           
<li>                                                                       
    <a target="_blank" href="https://www.linkedin.com/" title="linkedin">  
        <span class="fa-stack fa-lg">                                      
            <i class="fa fa-circle fa-stack-2x"></i>                       
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>          
        </span>                                                            
    </a>                                                                   
</li>                                                                      
</ul>